.phone-nav {
    font-size: 27px;
    margin-right: 20px;
}

.nav-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4rem;
}

.nav-ul.open {
    left: 0;
}

.nav-li {
    font-size: 24px;

}

/* Responsive Styles */
@media screen and (max-width: 1268px) {
    .phone-nav {
        display: block;
    }

    .navbar {
        height: 9vh;
    }

    .nav-ul {
        position: fixed;
        top: 0;
        left: -130%;
        width: 25%;
        height: 47vh;
        background: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        transition: 0.5s ease-in-out;
    }

    .s-card-container {
        padding: 10px 14px;
    }

    .h2-img {
        width: 281px;
    }

    .h2-1-p {
        width: 92%;
    }

    .m1-p {
        width: 90%;
    }

    .form {
        height: 65vh;
    }
}



@media (max-width: 575.98px) {
    .navbar {
        position: fixed;
    }

    .main {
        flex-direction: column;
    }

    .main-1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0px;
    }

    .logo {
        font-size: 23px;
    }

    .main-2 {
        width: 100%;
        margin-top: 2rem;
    }

    .m2-img {
        width: 236px;
    }

    .m1-h {
        font-size: 1.7rem;
        margin-top: 6rem;
    }

    .m1-p {
        width: 90%;
    }

    .home2 {
        display: flex;
        justify-content: center;
        padding: 0px 0px;
        overflow-x: hidden;
        flex-direction: column;
    }

    .home2-1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .home2 {
        padding: 0px 0px;
        width: 100%;
        height: 100vh;
        margin-top: 5rem;
    }

    .home2-2 {
        width: 100%;
    }

    .h2-1-h {
        font-size: 1.8rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .s-head {
        font-size: 1.8rem;
        color: #ff003f;
        text-align: center;
        margin: 0px;
    }

    .form {
        height: 80vh;
    }

    .f-form {
        width: 69%;
    }

    .logo {
        margin-left: 11px;
    }

    .navbar {
        width: 100%;
    }
}